In [1]:
from pathlib import Path
from warnings import filterwarnings

filterwarnings(action="ignore")

PROJECT_DIR = Path()
DATA_DIR = PROJECT_DIR / "dataset"

In [2]:
import pandas as pd

store_sales = (
    pd.read_csv(
        DATA_DIR / "train.csv", parse_dates=["date"], dtype={"sales": "float32"}
    )
    .set_index(["date"])
    .to_period(freq="D")
    .set_index(["store_nbr", "family"], append=True)["sales"]
    .unstack()
    .unstack()
)

# Fill in values for missing dates.
missing_idx = set(
    pd.date_range(
        store_sales.index[0].to_timestamp(), store_sales.index[-1].to_timestamp()
    ).to_period()
) - set(store_sales.index.get_level_values(level=0).unique())
for idx in missing_idx:
    store_sales.loc[idx] = 0.0

store_sales = store_sales.stack().sort_index(level=0)
store_sales

family                AUTOMOTIVE  BABY CARE  BEAUTY  BEVERAGES  BOOKS  \
date       store_nbr
2013-01-01 1                 0.0        0.0     0.0        0.0    0.0
           2                 0.0        0.0     0.0        0.0    0.0
           3                 0.0        0.0     0.0        0.0    0.0
           4                 0.0        0.0     0.0        0.0    0.0
           5                 0.0        0.0     0.0        0.0    0.0
...                          ...        ...     ...        ...    ...
2017-08-15 50               11.0        0.0    16.0     3661.0    0.0
           51               11.0        0.0     2.0     3860.0    0.0
           52                2.0        0.0     4.0     3744.0    0.0
           53                9.0        0.0     7.0     1646.0    0.0
           54                8.0        0.0     0.0     4332.0    0.0

family                BREAD/BAKERY  CELEBRATION  CLEANING   DAIRY        DELI  \
date       store_nbr
2013-01-01 1              0.000000          0.0       0.0     0.0    0.000000
           2              0.000000          0.0       0.0     0.0    0.000000
           3              0.000000          0.0       0.0     0.0    0.000000
           4              0.000000          0.0       0.0     0.0    0.000000
           5              0.000000          0.0       0.0     0.0    0.000000
...                            ...          ...       ...     ...         ...
2017-08-15 50           466.130005         45.0    1322.0  1018.0  429.618988
           51           704.801025         16.0    1357.0  1377.0  217.886002
           52           756.481018         15.0    1412.0  1053.0  298.610992
           53           380.199005          4.0     706.0   431.0  186.867996
           54           304.000000          4.0    1415.0   261.0  222.026001

family                ...  MAGAZINES       MEATS  PERSONAL CARE  PET SUPPLIES  \
date       store_nbr  ...
2013-01-01 1          ...        0.0    0.000000            0.0           0.0
           2          ...        0.0    0.000000            0.0           0.0
           3          ...        0.0    0.000000            0.0           0.0
           4          ...        0.0    0.000000            0.0           0.0
           5          ...        0.0    0.000000            0.0           0.0
...                   ...        ...         ...            ...           ...
2017-08-15 50         ...       13.0  425.802002          396.0           9.0
           51         ...       13.0  567.848999          234.0          15.0
           52         ...       19.0  435.828003          278.0           9.0
           53         ...        5.0  185.798004          153.0           5.0
           54         ...        2.0   57.841999          169.0           0.0

family                PLAYERS AND ELECTRONICS     POULTRY  PREPARED FOODS  \
date       store_nbr
2013-01-01 1                              0.0    0.000000        0.000000
           2                              0.0    0.000000        0.000000
           3                              0.0    0.000000        0.000000
           4                              0.0    0.000000        0.000000
           5                              0.0    0.000000        0.000000
...                                       ...         ...             ...
2017-08-15 50                            22.0  356.510010       73.851997
           51                            25.0  686.940979       91.975998
           52                            20.0  397.339996      104.417999
           53                             5.0  148.014999       37.820000
           54                             2.0   59.618999       94.000000

family                    PRODUCE  SCHOOL AND OFFICE SUPPLIES    SEAFOOD
date       store_nbr
2013-01-01 1             0.000000                         0.0   0.000000
           2             0.000000                         0.0   0.000000
           3             0.000000                         0.0   0.000000
           4             0.000000                         0.0   0.000000
           5             0.000000                         0.0   0.000000
...                           ...                         ...        ...
2017-08-15 50         2027.374023                       219.0  15.314000
           51         5031.189941                         0.0  52.875999
           52         3803.367920                        17.0   7.000000
           53         1432.489014                         0.0   5.000000
           54          915.370972                         0.0   3.000000

[91152 rows x 33 columns]